/* Welcome to my css file */

* {
    font-family: 'Roboto Condensed', sans-serif;
}

#date {
    color:red;
}

a:hover {
    color:rgb(0, 0, 255);
}

strong, b {
    color:#650079;
}

button {
    color: hsl(133, 100%, 22%);
}

@media (min-width: 1300px) {
    .grid-container {
        display: grid;
        grid-template-columns: 400px 500px 400px;
        grid-template-rows: 450px;
        grid-template-areas:
        "left center right"
    }

    .grid-item-1 {
        grid-area: left;
    }

    .grid-item-2 {
        grid-area: right;
    }

    .grid-item-3 {
        grid-area: center;
    }
}

.flexbox {
    position: static;
    display: flex;
    justify-content: space-between;
    min-width: 400px;
    max-width: 1000px;
    flex-wrap: wrap;
    gap: 10px 10px;
}

div > a {
    border-width: 0.5mm;
    border-style: solid;
    border-color: navy;
    border-radius: 3mm;
    margin: auto auto auto auto;
}

[nav_hover] {
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    padding-left: 3px;
}

button {
    margin-left: 1.3cm;
    margin-top: auto;
    margin-bottom: 3mm;
    margin-right: auto;
    padding: auto auto 3mm 1.3cm;
    border: 5px black dotted;
}

div > a:hover {
    background-color: gray;
    opacity: 50%;
}

div a {
    text-decoration: none;
    text-align: center;
}

img {
    width: 10vw;
    height: 10vh;
    position: relative;
    top: 10px;
    left: 10px;
    padding: 10px;
}

p.notice {
    font-size: 0.7em;
}

p ~ div {
    background-color: yellow;
}

p + div {
    display: inline-block;
}

h1:active {
    background-color: yellow;
}