* {
    font-family: 'Roboto Condensed', sans-serif;
}

#date {
    color:red;
}

a:hover {
    color:rgb(0, 0, 255);
}

strong, b {
    color:#650079;
}

button {
    color: hsl(133, 100%, 22%);
}

.grid-container {
    display: grid;
    grid-template-columns: 400px 500px 400px;
    grid-template-rows: 450px;
    grid-template-areas:
    "left center right"
}

.grid-item-1 {
    grid-area: left;
}

.grid-item-2 {
    grid-area: right;
}

.grid-item-3 {
    grid-area: center;
}

.flexbox {
    display: flex;
    justify-content: space-between;
    width: 400px;
    flex-wrap: wrap;
    gap: 0px;
}


